@font-face {
    font-family: 'ChicagoIE';
    src: url("fonts/chicago.eot");
}

@font-face {
    font-family: 'TahomaIE';
    src: url("fonts/tahoma.eot");
}

body {
    /* flexbox doesn't work in old IE, and using block shouldnt affect the layout */
    /* there are still remaining justify-content and align-items properties but it should ignore those */
    display: block !important;

    /* remove image since we're setting it with DXImageTransform.Microsoft.AlphaImageLoader */
    background-image: none !important;

    /* set image with scale method */
    /* wallpaper will always be bliss, for simplicity */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='img/wallpapers/Bliss.jpg',
        sizingMethod='scale'
    );
}
