@font-face {
    font-family: 'ChicagoIE';
    src: url("fonts/chicago.eot");
}

@font-face {
    font-family: 'TahomaIE';
    src: url("fonts/tahoma.eot");
}

body {
    /* remove image since we're setting it with DXImageTransform.Microsoft.AlphaImageLoader */
    background-image: none !important;

    /* set image with scale method */
    /* wallpaper will always be bliss, for simplicity */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='img/wallpapers/Bliss.jpg',
        sizingMethod='scale'
    );
}
