@font-face {
    font-family: 'Chicago';
    src: url("fonts/chicago.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tahoma";
    src: url("fonts/tahoma.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #008080;
    color: #FFFFFF;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.window {
    position: absolute;
    cursor: default;
    z-index: 1000;
    top: 0;
    left: 0;
    margin: 0;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0);
}

.title-bar {
    /* pretty sure XP uses Tahoma not Trebuchet MS for window titles */
    /* so this is just a little patch for that */
    font-family: "Tahoma", "TahomaIE", system-ui;
}

.heading {
    font-family: "Chicago", "ChicagoIE", serif;
    font-size: 32px;
}

.start-button {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    font-style: italic;
    background: radial-gradient(circle, #5eac56 0%, #3c873c 100%) center/cover no-repeat;
    box-shadow: 0px 5px 10px #79ce71 inset, 4px 0 8px #3f8cf3;
    padding: 2px 25px 6px 10px;
    text-shadow: 1px 1px 3px #222;
    border-radius: 0px 8px 8px 0px;
    margin-right: 16px;
    cursor: pointer;
}

.start-button img {
    height: 20px;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}

.opened-tabs {
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
}

.open-tab {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 26px;
    margin: 3px 2px 3px 0;
    background-color: #4892F7;
    background: url("img/button/1.png") no-repeat 0 0;
    border: 1px solid #306FD9;
    border-radius: 2px;
    font-family: "Tahoma", "TahomaIE", monospace;
    font-size: 14px;
    line-height: 26px;
    padding: 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    cursor: pointer;
}

.open-tab:hover {
    background: url("img/button/2.png") no-repeat 0 0;
}

.open-tab.active {
    background: url("img/button/3.png") no-repeat 0 0;
}

.open-tab img {
    height: 16px;
    vertical-align: text-top;
    margin-right: 5px;
    margin-top: 2px;
}

.time {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    font-family: "Tahoma", "TahomaIE", monospace;
    font-size: 14px;
    line-height: 14px;
    background: linear-gradient(to bottom, #1290E9 0%, #19B9F3 9%, #1290E9 18%, #1290E9 92%, #1941A5 100%) center/cover no-repeat;
    box-shadow: 0px 5px 10px #14A5F0 inset, 0px 5px 10px #333333;
    padding: 9px 15px 9px 25px;
    border-left: 1px solid #092E51;
    text-shadow: 1px 1px 2px #222;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
}

img, canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

*, *::before, *::after {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
}

#blink {
    font-weight: bold;
}

.window, .window .title-bar, .window .title-bar *, #blink {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.window-body, .window-body * {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

pre::selection {
    background: white;
    color: black;
}

.window-inactive .title-bar .title-bar-text {
    color: #d0d0d0 !important;
}

.taskbar-container {
    height: 32px;
    width: 100%;
    z-index: 9999;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.taskbar-container * {
    box-sizing: border-box;
}

.taskbar {
    background-color: #245EDC;
    background: linear-gradient(to bottom, #245EDC 0%, #3f8cf3 9%, #245EDC 18%, #245EDC 92%, #1941A5 100%) center/cover no-repeat;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}
